<div class="container" id="profile-info">
  <div class="form">
    <% if @profile %>
      <ul>
        <li>Summary:           <%= profile_summary %></li>
        <li>Primary framework: <%= profile_framework %></li>
        <li>Website:           <%= profile_website %></li>
        <li>GitHub:            <%= profile_github %></li>
        <li>LinkedIn:          <%= profile_linkedin %></li>
        <li>Desired Salary:   $<%= profile_desired_salary %>k/year</li>
        <li>Desired Hourly:   $<%= profile_desired_hourly %>/hour</li>
      </ul>
      <p>
        <%= link_to "Edit Profile", edit_profile_path(@profile),
                    class: "btn btn-primary" if @profile.owner?(current_user) %>
      </p>
    <% else %>
      <p><%= link_to "Create Profile", new_user_profile_path(@user) %></p>
    <% end %>
  </div>

  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

</div>
