<div class="container" id="views-profiles-edit">
  <% if current_user.id == @profile.user_id %>
    <%= form_for @profile do |f| %>
      <div class="form-horizontal">
        <div class="form-group">
          <h3>Profile information:</h3>
          <div class="row">
            <p>
              <%= f.label :summary, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10 input-field">
              <%= f.text_area :summary, class: "form-control input-field" %>
              </div>
            </p>
            <p>
              <%= f.label :website, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
              <%= f.text_field :website, placeholder: "example.com", class: "form-control input-field" %>
              </div>
            </p>
            <p>
              <%= f.label :github, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
              <%= f.text_field :github, placeholder: "example.com", class: "form-control input-field" %>
              </div>
            </p>
            <p>
              <%= f.label :linkedin, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
              <%= f.text_field :linkedin, placeholder: "example.com", class: "form-control input-field" %>
              </div>
            </p>
            <p>
              <%= f.label :desired_salary, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
              <%= f.number_field :desired_salary, in: 40..200, step: 5, class: "form-control input-field", placeholder: "k per year" %>k per year
              <span>*required</span>
              </div>
            </p>
            <p>
              <%= f.label :desired_hourly, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
              <%= f.number_field :desired_hourly, in: 20..100, step: 5, class: "form-control input-field" %> per hour
              <span>*required</span>
              </div>
            </p>
            <p>
              <%= f.label :framework, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
              <%= f.select :framework, @frameworks, class: "form-control" %>
              </div>
            </p>
          </div>

          <h3>Current location:</h3>
          <div class="row">
            <p>
              <%= f.label :street_address, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
                <%= f.text_field :street_address, class: "form-control" %>
                <span>*required</span>
              </div>
            </p>
            <p>
              <%= f.label :city, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
                <%= f.text_field :city, class: "form-control" %>
                <span>*required</span>
              </div>
            </p>
            <p>
              <%= f.label :state, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
                <%= f.text_field :state, class: "form-control" %>
                <span>*required</span>
              </div>
            </p>
            <p>
              <%= f.label :zip_code, class: "control-label col-xs-3 col-md-2" %>
              <div class="col-xs-9 col-md-10">
                <%= f.text_field :zip_code, class: "form-control" %>
                <span>*required</span>
              </div>
            </p>
          </div>
        </div>
      </div>

      <div class="action">
        <%= f.submit "Update", class: "btn btn-primary", id: "update-profile-btn" %>
      </div>
    <% end %>
  <% else %>
    <p>
      You do not have authorized access to this page.<br>
      If you believe this to be in error, please contact administration.
    </p>
  <% end %>
</div>
