<div class="container-fluid">
  <h1>Users</h1>

  <%= paginate @users %>
  <div class="row panel">
    <ul>
      <% @users.each do |user| %>
        <% unless current_user == user %>
          <li>
            <div class="col-sm-2">
              <img id="gravatar-nav"
              src="<%= gravatar_image_url(user.email, size: 25) %>">
              &nbsp;&nbsp;<%= user.user_tag %>
            </div>
            <div class="col-sm-10">
              <%= link_to "Send message", new_message_path(to: user.id),
                          class: "btn btn-default btn-sm" %>
            </div>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>

  <%= paginate @users %>
</div>
