<div class="container-fluid">
  <%= content_tag "div", id: "profiles-search-form", class: "form-input",
      data: {frameworks: @frameworks} do %>
    <%= form_tag profiles_path, method: "get", remote: true do %>
      <%= label_tag "" %>
      <%= text_field_tag :search, params[:search], id: "profiles-search-field",
          class: "form-control", autocomplete: true,
          placeholder: "Search by framework (i.e. 'Rails')" %>

      <%= submit_tag "Search", class: "btn btn-primary", id: "search-button",
          name: "commit" %>
    <% end %>
  <% end %>
</div>
